:root {
  --primary-colour: #ff9eea;
  --secondary-colour: #f1f1f1;
  --heading-font-family: "Roboto Mono", monospace;
  --default-font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--default-font-family);
  line-height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-weight: 500;
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 34px;
}

p,
h1 {
  color: black;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.navbar-toggler {
  border: none;
}

.hero {
  background-color: var(--primary-colour);
  padding: 50px 30px 0 30px;
  margin-bottom: 40px;
}

.hero img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

.tab {
  font-family: var(--default-font-family);
  line-height: 30px;
  padding: 0 40px;
}

.container {
  display: block;
  margin: 0 auto;
}

.content-wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

.project-image img {
  display: block;
  margin: 0 auto;
  max-width: 100px;
}

.btn-branding {
  color: black;
  background-color: var(--secondary-colour);
  border: 1px solid black;
  border-radius: 4px;
  font-size: 18px;
  padding: 15px 30px;
  transition: opacity 0.3s ease-in-out;
}

.btn-branding:hover {
  color: black;
  background-color: white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.link {
  color: black;
  text-decoration: underline;
}

.link:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 992px) {
  .btn-branding {
    display: block;
    margin: 0 auto;
  }
}
